EVO_BASIC_TOKEN=Basic base64(evo:secret_key)
EVO_API_BASE_URL=https://evo-integracao-api.w12app.com.br
KORA_BRANCH_ID=
POSTGRES_URL=postgres://user:password@host:5432/database
APP_BASE_URL=https://bi.korahealthlab.com.br
APP_PASSWORD=
CRON_SECRET=
